.custom-confirm-button1 {
    background-color: #fcd34d; /* El color que desees */
    outline: none; /* Elimina el borde de enfoque */
    box-shadow: none; /* Elimina el efecto de sombra que puede aparecer en algunos navegadores */
   }
   