.btna {
    font-size: 15px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
   }
   
   .btna::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #fcd34d;
    transition: 0.5s ease;
   }
   
   .btna:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
   }
   
   .btna:hover::before {
    width: 100%;
   }
   
   .btna::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #fcd34d;
    transition: 0.4s ease;
    z-index: -1;
   }
   
   .btna:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
   }
   

   